name: Ingest Markdown

on:
  workflow_dispatch:
    inputs:
      file-name:
        description: 'The name of the markdown file to injext'
        required: false
        default: ''
defaults:
  run:
    shell: pwsh

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 9.x

    - name: Run
      run: dotnet run --project ./AI/KebooBot.Ingest/KebooBot.Ingest.csproj -- 
        --file-name '${{ inputs.file-name }}'
        --directory './Subtitles'
        --api-key '${{ secrets.KebooBotApiKey }}'
        --endpoint '${{ vars.KebooBotEndpoint }}'
